.merchant-logo {
    height: 50px;
}

.table {
    border: 1px solid black;
}

.transaction-amount {
    font-weight: 600;
}

.container {
    width: 115% !important;
}

.search-box {
    height: 40px;
}

.clear-search {
    cursor: pointer;
}