<div class="container content">
    <div class="row transactions-header">
        <div class="col-1">
            <img src="../../../assets/icons/briefcase.png" class="mt-2">
        </div>
        <div class="col-11 text-center pb-2 pt-2">
            Recent transactions
        </div>
    </div>
    <table class="table">
        <tbody *ngFor="let transaction of transactions.data">
            <tr>
                <th class="pr-1 pl-1" [ngStyle]="getRowColor(transaction)"></th>
                <td>{{ parseDate(transaction.transactionDate) }}</td>
                <td><img src="{{ transaction.merchantLogo }}" class="merchant-logo" alt="Merchant Logo"></td>
                <td>{{ transaction.merchant }}</td>
                <td class="transaction-amount">-{{ transaction.amount | currency:'USD':true }}</td>
            </tr>
        </tbody>
    </table>
</div>