.merchant-logo {
    height: 50px;
}

.table {
    border: 1px solid black;
}

.transaction-amount {
    font-weight: 600;
}

.transactions-header {
    background-color: rgb(47, 255, 203);
    width: 100%;
}