<div class="container content">
    <div class="row transactions-header">
        <div class="col-1">
            <img src="../../../assets/icons/briefcase.png" class="mt-2">
        </div>
        <div class="col-11 text-center pb-2 pt-2">
            {{ "viewTransactions.recentTransactions" | translate }}
        </div>
    </div>
    <div class="row">
        <form class="ml-3 mt-2 search-box" [formGroup]="searchForm">
            <input placeholder="{{ 'viewTransactions.searchPlaceHolder' | translate }}" (keyup.enter)="search()" formControlName="searchString">
            <span class="ml-1 clear-search" (click)="clearSearch()"><strong>X</strong></span>
        </form>
    </div>
    <table class="table" *ngIf="!searchMode">
        <tbody *ngFor="let transaction of transactions.data">
            <tr>
                <th class="pr-1 pl-1" [ngStyle]="getRowColor(transaction)"></th>
                <td>{{ parseDate(transaction.transactionDate) }}</td>
                <td><img src="{{ transaction.merchantLogo }}" class="merchant-logo" alt="Merchant Logo"></td>
                <td>{{ transaction.merchant }}</td>
                <td class="transaction-amount">-{{ transaction.amount | currency:'USD':true }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table" *ngIf="searchMode">
        <tbody *ngFor="let result of searchResults">
            <tr>
                <th class="pr-1 pl-1" [ngStyle]="getRowColor(result)"></th>
                <td>{{ parseDate(result.transactionDate) }}</td>
                <td><img src="{{ result.merchantLogo }}" class="merchant-logo" alt="Merchant Logo"></td>
                <td>{{ result.merchant }}</td>
                <td class="transaction-amount">-{{ result.amount | currency:'USD':true }}</td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="searchResults.length === 0 && searchMode">{{ "viewTransactions.noSearchResults" | translate }}</p>
</div>