<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col text-center">
      Welcome to PeachBank Money Transfer App!
    </div>
  </div>
  <div class="row d-flex mb-4">
    <div class="col-6 text-center">
      <button class="btn btn-secondary" (click)="transferMoney()">Transfer money</button>
    </div>
    <div class="col-6 text-center">
      <button class="btn btn-secondary" (click)="viewTransactions()">View transactions</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>